---
default_install_hook_types:
  - commit-msg
  - pre-commit

repos:

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      # - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        # Only run on the generated READMEs
        files: ^.*README\.md$

  - repo: "https://github.com/ansible/ansible-lint"
    rev: v25.12.2
    hooks:
      - id: ansible-lint
        additional_dependencies:
        - ansible-core==2.20.0
        - distlib
        stages: [pre-commit]
        pass_filenames: false
        always_run: true
        entry: "ansible-lint"
        args: ["-c", ".ansible-lint"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
...
