name: Prepare stage

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
jobs:
  job-semver-next:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Environment Debug before
      run: |
        which python
        echo "Current user: $(whoami)"
        echo "Working dir: $(pwd)"
        echo "PATH: $PATH"
        echo "ENV: $(env)"
    - name: Environment Debug after
      run: |
        which python
        echo "PATH: $PATH"
        echo "ENV: $(env)"
        echo "$(ls /opt/app-root/bin/)"
      # env:
      #   PATH: "/opt/app-root/bin:/opt/app-root/src/bin:/opt/app-root/src/.local/bin"
    - name: Prepare | job-semver-next
      id: job-semver-next
      run: |
        echo "NEXT_VERSION=$(semantic-release version --print-tag)" >> $GITHUB_OUTPUT
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PATH: "/opt/app-root/bin:/opt/app-root/src/bin:/opt/app-root/src/.local/bin"

  job-ansible-validate-tokens:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Prepare | job-ansible-validate-tokens
      id: job-ansible-validate-tokens
      run: |
        echo "TODO"
  # image: $[[ inputs.opt-image ]]
  # stage: $[[ inputs.opt-stage ]]
  # tags: $[[ inputs.opt-ci-tags ]]
  # script:
  #   - echo "INFO Validate Automation Hub Certified Token"
  #   - >
  #     curl $[[ inputs.opt-validation-url ]]
  #     -d grant_type=refresh_token -d client_id="$[[ inputs.opt-client-id ]]"
  #     -d refresh_token="${ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_CERTIFIED_TOKEN}"
  #     --fail --silent --show-error --output /dev/null
  #   - echo "INFO Validate Automation Hub Validated Token"
  #   - >
  #     curl $[[ inputs.opt-validation-url ]]
  #     -d grant_type=refresh_token -d client_id="$[[ inputs.opt-client-id ]]"
  #     -d refresh_token="${ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_VALIDATED_TOKEN}"
  #     --fail --silent --show-error --output /dev/null

  job-ansible-collection-install:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Prepare | job-ansible-collection-install
      id: job-ansible-collection-install
      run: |
        echo "TODO"
    # - ANSIBLE_COLLECTIONS_PATH=.ansible/collections
    # - ansible-galaxy collection install --force -p .ansible/collections -r requirements-dev.yml
    #   || RETURN=$?
    # - |-
    #   if [[ 0 == $RETURN ]]; then
    #     echo "Return code $RETURN matches expected return"
    #     exit 0
    #   fi
    # - exit $RETURN