name: Release stage

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string

jobs:
  job-semantic_release:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Release | job-semantic_release
      id: job-semantic_release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global --add safe.directory .
        semantic-release -vv version

    - name: Release | upload-collection-artifact
      uses: actions/upload-artifact@v4
      if: always() && steps.job-semantic_release.outcome != 'skipped'
      with:
        name: collection-artifact
        path: "*.tar.gz"
        if-no-files-found: error