name: Release stage

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
    outputs:
      new_version:
        description: "The version number generated"
        value: ${{ jobs.semantic_release.outputs.new_version }}
      released:
        description: "Whether a release was created"
        value: ${{ jobs.semantic_release.outputs.released }}

jobs:
  semantic_release:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      new_version: ${{ steps.semantic_release.outputs.version }}
      released: ${{ steps.semantic_release.outputs.released }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Release | semantic_release
      id: semantic_release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        #git config --global --add safe.directory .
        semantic-release -vv version

        # 1. Run the version command (this triggers your build_command)
        semantic-release -v version
          
        # 2. Get the new version for the next job
        # --print just outputs the next version number to stdout
        NEXT_VERSION=$(semantic-release version --print)
        echo "next_version=$NEXT_VERSION" >> $GITHUB_ENV

    - name: Release | set-sematic_release-outputs
      id: set-output
      run: |
        # If NEXT_VERSION is empty, no release was made
        if [ -n "$next_version" ]; then
          echo "version=$next_version" >> $GITHUB_OUTPUT
          echo "released=true" >> $GITHUB_OUTPUT
        else
          echo "released=false" >> $GITHUB_OUTPUT
        fi

    - name: Release | upload-build-asset
      id: upload-build-asset
      uses: actions/upload-artifact@v4
      if: always() && steps.semantic_release.outcome != 'skipped'
      with:
        name: build-asset
        path: "*.tar.gz"
        if-no-files-found: error