name: Release stage

on:
  workflow_call:

jobs:
  job-semantic_release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup | setup-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'

    - name: Setup | install-dependencies
      id: install-dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-ci.txt ]; then pip install -r requirements-ci.txt; fi
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
    - name: Release | job-semantic_release
      id: job-semantic_release
      run: |
        semantic-release version
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
