name: Release stage

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      dry_run:
        type: boolean
        default: false
    outputs:
      new_version:
        description: "The version number generated"
        value: ${{ jobs.semantic_release.outputs.new_version }}
      released:
        description: "Whether a release was created"
        value: ${{ jobs.semantic_release.outputs.released }}

jobs:
  semantic_release:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      new_version: ${{ steps.semantic_release.outputs.version }}
      released: ${{ steps.semantic_release.outputs.released }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Release | semantic_release
      id: semantic_release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global --add safe.directory .
        if [ "${{ inputs.dry_run }}" = "true" ]; then
          echo "Running in DRY RUN mode"
          semantic-release -v version --dry-run
        else
          semantic-release -v version
        fi

        NEXT_VERSION=$(semantic-release version --print)
        echo "next_version=$NEXT_VERSION" >> $GITHUB_ENV

    - name: Release | set-sematic_release-outputs
      id: set-output
      run: |
        if [ -n "$next_version" ] && [ "${{ inputs.dry_run }}" != "true" ]; then
          echo "version=$next_version" >> $GITHUB_OUTPUT
          echo "released=true" >> $GITHUB_OUTPUT
        else
          echo "released=false" >> $GITHUB_OUTPUT
        fi

    - name: Release | upload-build-asset
      id: upload-build-asset
      uses: actions/upload-artifact@v4
      if: always() && steps.semantic_release.outcome != 'skipped'
      with:
        name: build-asset
        path: "*.tar.gz"
        if-no-files-found: error