name: Report stage

on:
  workflow_call:

jobs:
  job-ansible-codeclimate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup | setup-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'

    - name: Setup | install-dependencies
      id: install-dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-ci.txt ]; then pip install -r requirements-ci.txt; fi
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
    - name: Report | job-ansible-codeclimate (1/2)
      id: job-ansible-codeclimate
      env:
        SARIF_REPORT_FULL_PATH: "./code-quality-report.sarif"
      run: |
        if [[ -f ${SARIF_REPORT_FULL_PATH} ]]; then sarif codeclimate ${SARIF_REPORT_FULL_PATH} || RETURN=$?; else echo "ERROR - File not found ${SARIF_REPORT_FULL_PATH}"; exit 1; fi
        if [[ 0 == $RETURN ]]; then echo "Return code $RETURN matches expected return"; exit 0; fi
        exit $RETURN
    - name: Report | job-ansible-codeclimate  (2/2)
      uses: actions/upload-artifact@v4
      if: always() && steps.job-ansible-codeclimate.outcome != 'skipped'
      with:
        name: job-ansible-codeclimate
        path: code-quality-report.json
        if-no-files-found: error
