name: Report stage

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string

jobs:
  job-ansible-codeclimate:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Report | job-ansible-codeclimate (1/3)
      uses: actions/download-artifact@v4
      with:
        name: automation-hub-verify-ansible-lint

    - name: Report | job-ansible-codeclimate (2/3)
      id: job-ansible-codeclimate
      env:
        SARIF_REPORT_FULL_PATH: "./code-quality-report.sarif"
        PATH: "/opt/app-root/bin:/opt/app-root/src/bin:/opt/app-root/src/.local/bin"
      run: |
        if [[ -f ${SARIF_REPORT_FULL_PATH} ]]; then sarif codeclimate ${SARIF_REPORT_FULL_PATH} || RETURN=$?; else echo "ERROR - File not found ${SARIF_REPORT_FULL_PATH}"; exit 1; fi
        if [[ 0 == $RETURN ]]; then echo "Return code $RETURN matches expected return"; exit 0; fi
        exit $RETURN

    - name: Report | job-ansible-codeclimate  (3/3)
      uses: actions/upload-artifact@v4
      if: always() && steps.job-ansible-codeclimate.outcome != 'skipped'
      with:
        name: job-ansible-codeclimate
        path: code-quality-report.json
        if-no-files-found: error
