name: Secrets stage

on:
  workflow_call:
        
jobs:
  custom-secret-detection:
    runs-on: ubuntu-latest

    steps:
 
    - name: Checkout code
      uses: actions/checkout@v4
      with:
          fetch-depth: 50  # Important: Gitleaks needs history to scan commits

    - name: Secrets | custom_secret_detection (1/2)
      id: custom_secret_detection
      uses: ./.github/actions/secret-detection
    - name: Secrets | custom_secret_detection (2/2)
      uses: actions/upload-artifact@v4
      if: always() && steps.custom_secret_detection.outcome != 'skipped'
      with:
        name: custom_secret_detection
        path: secret-detection-report.json
        if-no-files-found: error