name: Secrets stage

on:
  workflow_call:
        
jobs:
  secret-detection:
    runs-on: ubuntu-latest

    steps:
 
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Important: Gitleaks needs history to scan commits

    - name: Secrets | secret_detection (1/2)
      id: secret_detection
      uses: ./.github/actions/secret-detection

    - name: Secrets | secret_detection (2/2)
      uses: actions/upload-artifact@v4
      if: always() && steps.secret_detection.outcome != 'skipped'
      with:
        name: secret_detection
        path: secret-detection-report.json
        if-no-files-found: error