name: Setup environment stage

on:
  workflow_call:
    outputs:
      image_tag:
        description: "Image tag of container image with ansible environment"
        value: ${{ jobs.setup-environment.outputs.image_tag }}
        
jobs:
  setup-environment:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/ci-python-env
          tags: type=sha,format=long # Uses the commit SHA as the version

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          # Speed up subsequent builds by caching layers in GHCR
          cache-from: type=gha 
          cache-to: type=gha,mode=max