name: Test stage

on:
  workflow_call:

jobs:
  secret_detection:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 50  # Important: Gitleaks needs history to scan commits
    - name: Test | secret_detection (1/2)
      id: secret_detection
      uses: ./.github/actions/secret-detection
    - name: Test | secret_detection (2/2)
      uses: actions/upload-artifact@v4
      if: always() && steps.secret_detection.outcome != 'skipped'
      with:
        name: secret_detection
        path: secret-detection-report.json
        if-no-files-found: error


  automation-hub-verify-ansible-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup | setup-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'

    - name: Setup | install-dependencies
      id: install-dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-ci.txt ]; then pip install -r requirements-ci.txt; fi
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
    - name: Test | automation-hub-verify-ansible-lint (1/2)
      id: automation-hub-verify-ansible-lint
      env:
        SARIF_REPORT_FULL_PATH: "./code-quality-report.sarif"
        LINT_ARGS: "--profile production"
      run: |
        if [[ "["tests/integration/", "tests/unit"]" != "" ]]; then
          FLAG=" --exclude"
          EXCLUDE_ARGS=$(echo '["tests/integration/", "tests/unit"]' | tr -d '[],"')
          set -- $EXCLUDE_ARGS
          for item in "$@"; do
            LINT_ARGS+=" $FLAG $item"
          done
        fi
        if true ; then LINT_ARGS+=" --parseable"; fi
        if true ; then LINT_ARGS+=" --force-color"; fi
        if false ; then LINT_ARGS+=" --offline"; fi
        if true ; then LINT_ARGS+=" --strict"; fi
        if true ; then LINT_ARGS+=" --sarif-file ${SARIF_REPORT_FULL_PATH}"; fi
        ansible-lint --version
        echo "Running ansible-lint with the following parameters"
        echo "${LINT_ARGS}"
        echo "Switch directories to project directory ."
        cd .
        ansible-lint ${LINT_ARGS} || RETURN=$?
        if true && ! [ -f ${SARIF_REPORT_FULL_PATH} ] ; then
          echo "Code quality sarif report was requested but not generated, please check the logs."
          RETURN=1${RETURN}
        fi
        if [[ 0 == $RETURN ]]; then
          echo "Return code $RETURN matches expected return"
          exit 0
        fi
        exit $RETURN

    - name: Test | automation-hub-verify-ansible-lint (2/2)
      uses: actions/upload-artifact@v4
      if: always() && steps.automation-hub-verify-ansible-lint.outcome != 'skipped'
      with:
        name: automation-hub-verify-ansible-lint
        path: code-quality-report.sarif
        if-no-files-found: error

  job-ansible-tox-sanity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup | setup-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'

    - name: Setup | install-dependencies
      id: install-dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-ci.txt ]; then pip install -r requirements-ci.txt; fi
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
    - name: Test | job-ansible-tox-sanity
      id: job-ansible-tox-sanity
      run: |
        tox --verbose --listenvs-all
        tox

  job-ansible-tox-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup | setup-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'

    - name: Setup | install-dependencies
      id: install-dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-ci.txt ]; then pip install -r requirements-ci.txt; fi
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
    - name: Test | job-ansible-tox-integration
      id: job-ansible-tox-integration
      run: |
        tox --ansible --conf tox-ansible.ini list
        tox --ansible --conf tox-ansible.ini
