name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

# default: least privileged permissions across all jobs
permissions:
  contents: read

jobs:
  # release:
  #   runs-on: ubuntu-latest
  #   concurrency:
  #     group: ${{ github.workflow }}-release-${{ github.ref_name }}
  #     cancel-in-progress: false

  #   permissions:
  #     contents: write

  #   steps:
  #     # Note: We checkout the repository at the branch that triggered the workflow.
  #     # Python Semantic Release will automatically convert shallow clones to full clones
  #     # if needed to ensure proper history evaluation. However, we forcefully reset the
  #     # branch to the workflow sha because it is possible that the branch was updated
  #     # while the workflow was running, which prevents accidentally releasing un-evaluated
  #     # changes.
  #     - name: Setup | Checkout Repository on Release Branch
  #       uses: actions/checkout@v4
  #       with:
  #         ref: ${{ github.ref_name }}

  #     - name: Setup | Force release branch to be at workflow sha
  #       run: |
  #         git reset --hard ${{ github.sha }}

  #     - name: Action | Semantic Version Release
  #       id: release
  #       # Adjust tag with desired version if applicable.
  #       uses: python-semantic-release/python-semantic-release@v10.5.3
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         git_committer_name: "github-actions"
  #         git_committer_email: "actions@users.noreply.github.com"

  #     - name: Publish | Upload to GitHub Release Assets
  #       uses: python-semantic-release/publish-action@v10.5.3
  #       if: steps.release.outputs.released == 'true'
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         tag: ${{ steps.release.outputs.tag }}

  #     - name: Upload | Distribution Artifacts
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: distribution-artifacts
  #         path:  ${{ format('example-demo-{}.tar.gz', steps.release.outputs.tag) }}
  #         if-no-files-found: error

  #   outputs:
  #     released: ${{ steps.release.outputs.released || 'false' }}

  # run-ansible-lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: lint
  #     uses: ansible/ansible-lint@v25.12.2
      #with:
        #args: # optional, default is 
        # Arguments to be passed to ansible-lint command.
        # If false, this action will not setup python and will instead rely on the already installed python.
        #setup_python: # optional, default is true
        # The version of Python to use when setting up Python environment. Default is 3.14.
        #python_version: # optional, default is 3.14
        # The directory where to run ansible-lint from. Default is `github.workspace`.
        #working_directory: # optional, default is 
        # Path to the requirements YAML file to install role and collection dependencies.
        #requirements_file: # optional, default is 
        # (Internal use only) Expected return code from ansible-lint. Default is 0. Used for self-testing purposes.
        #expected_return_code: # optional, default is 0
        # The branch, tag, or commit to use for ansible-lint. Only recommended for use with composite actions where `GH_ACTION_REF` is set to the parent action version.
        #gh_action_ref: # optional, default is 

  ci:
    uses: open-appdev-lab/ansible-collections-ci/.github/workflows/main.yml@beta
    with:
      environment: "staging"
    # secrets: inherit
  # demo:
  #   uses: open-appdev-lab/ansible-collections-ci/.github/workflows/demo.yml@beta
