name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

# Ensures internal and external PRs don't block main, and main merges run one-by-one.
concurrency:
  group: internal-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}

jobs:
  ci:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
    uses: open-appdev-lab/ansible-collections-ci/.github/workflows/ci-ansible-collection.yml@main
    permissions:
      contents: write
      packages: write
      security-events: write
      actions: read
    with:
      ref: ${{ github.sha }}
      repo: ${{ github.repository }}
    secrets:
      automation_hub_token: ${{ secrets.AUTOMATION_HUB_TOKEN }}
      release_app_id:  ${{ secrets.RELEASE_APP_ID }}
      release_app_private_key:  ${{ secrets.RELEASE_APP_PRIVATE_KEY }}