name: CI

on:
  #TODO revise logic when to trigger what
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

concurrency:
  # Group by the branch/ref name. 
  # This ensures PRs don't block Main, and Main merges run one-by-one.
  group: ${{ github.workflow }}-${{ github.ref }}
  # For main branch, we set this to false to ensure releases finish.
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

  # default: least privileged permissions across all jobs
permissions:
  contents: read
  packages: read

# jobs:
  # release:
  #   runs-on: ubuntu-latest
  #   concurrency:
  #     group: ${{ github.workflow }}-release-${{ github.ref_name }}
  #     cancel-in-progress: false

  #   permissions:
  #     contents: write

  #   steps:
  #     # Note: We checkout the repository at the branch that triggered the workflow.
  #     # Python Semantic Release will automatically convert shallow clones to full clones
  #     # if needed to ensure proper history evaluation. However, we forcefully reset the
  #     # branch to the workflow sha because it is possible that the branch was updated
  #     # while the workflow was running, which prevents accidentally releasing un-evaluated
  #     # changes.
  #     - name: Setup | Checkout Repository on Release Branch
  #       uses: actions/checkout@v4
  #       with:
  #         ref: ${{ github.ref_name }}

  #     - name: Setup | Force release branch to be at workflow sha
  #       run: |
  #         git reset --hard ${{ github.sha }}

  #     - name: Action | Semantic Version Release
  #       id: release
  #       # Adjust tag with desired version if applicable.
  #       uses: python-semantic-release/python-semantic-release@v10.5.3
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         git_committer_name: "github-actions"
  #         git_committer_email: "actions@users.noreply.github.com"

  #     - name: Publish | Upload to GitHub Release Assets
  #       uses: python-semantic-release/publish-action@v10.5.3
  #       if: steps.release.outputs.released == 'true'
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         tag: ${{ steps.release.outputs.tag }}

  #     - name: Upload | Distribution Artifacts
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: distribution-artifacts
  #         path:  ${{ format('example-demo-{}.tar.gz', steps.release.outputs.tag) }}
  #         if-no-files-found: error

  #   outputs:
  #     released: ${{ steps.release.outputs.released || 'false' }}


  # ci:
  #   uses: open-appdev-lab/ansible-collections-ci/.github/workflows/main.yml@beta
  #   with:
  #     environment: "staging"
    # secrets: inherit
  # demo:
  #   uses: open-appdev-lab/ansible-collections-ci/.github/workflows/demo.yml@beta


jobs:
  setup-environment:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required to push to GHCR
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/ci-python-env
          tags: type=sha,format=long # Uses the commit SHA as the version

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          # Speed up subsequent builds by caching layers in GHCR
          cache-from: type=gha 
          cache-to: type=gha,mode=max

  secrets:
    needs: setup-environment
    uses: ./.github/workflows/_secrets-stage.yml

  prepare:
    needs: [ setup-environment, secrets ]
    uses: ./.github/workflows/_prepare-stage.yml
    with:
      image: ${{ needs.setup-environment.outputs.image_tag }}
    secrets:
      automation_hub_token: ${{ secrets.AUTOMATION_HUB_TOKEN }}
  test:
    needs: [ setup-environment, prepare ]
    uses: ./.github/workflows/_test-stage.yml
    with:
      image: ${{ needs.setup-environment.outputs.image_tag }}

  report:
    needs: [ setup-environment, test ]
    uses: ./.github/workflows/_report-stage.yml
    with:
      image: ${{ needs.setup-environment.outputs.image_tag }}

  release:
    permissions:
      contents: write
      packages: read
    if: github.ref == 'refs/heads/main'
    needs: [ setup-environment, report ]
    uses: ./.github/workflows/_release-stage.yml
    with:
      image: ${{ needs.setup-environment.outputs.image_tag }}
      dry_run: ${{ github.event_name == 'pull_request' }}

  publish:
    permissions:
      contents: write
      packages: read
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && needs.release.outputs.released == 'true'
    needs: [ setup-environment, release ]
    uses: ./.github/workflows/_publish-stage.yml
    with:
      image: ${{ needs.setup-environment.outputs.image_tag }}
      tag_name: v${{ needs.release.outputs.new_version }}
    secrets:
      automation_hub_token: ${{ secrets.AUTOMATION_HUB_TOKEN }}
