name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  ci:
    uses: open-appdev-lab/ansible-collections-ci/.github/workflows/ci-ansible-collection.yml@main
    permissions:
      contents: write
      packages: write
    secrets:
      automation_hub_token: ${{ secrets.AUTOMATION_HUB_TOKEN }}